[Unit]
Description=MessageCanary
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
EnvironmentFile=/etc/systemd/message-canary
ExecStart=/var/message-canary/bootstrap.sh

[Install]
WantedBy=multi-user.target
